/* Fade In */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Slide In */
@keyframes slideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
  font-family: 'Inconsolata Nerd Font', monospace;
  font-size: 14px;
}

window {
    margin: 5px;
    background-color: #100606;
}

#input {
    margin: 5px;
    border: 1.75px solid #301212;
    background-color: #301212;
    border-radius: 0.5em;
    color: #E55757;
}

#input:focus {
    border: 1.75px solid #E55757;
}

#input image {
    color: rgba(229, 87, 87, 0.5);
}

#input image:focus {
    color: #E55757;
}

#inner-box {
    margin: 5px;
    border: none;
    animation: fadeIn 0.45s ease-in-out both;
}

#outer-box {
    margin: 5px;
    border: none;
}

#scroll {
    margin: 5px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #E55757;
}

#text:selected {
    margin: 5px;
    color: #180909;
    animation: slideIn 0.1s ease-in-out both;
}

#entry {
    background-color: #100606;
}

#entry:hover {
    background-color: rgb(66, 27, 27);
}

#entry arrow {
    border: none;
    color: #682a2a;
}

#entry arrow:hover {
    border: none;
    color: #e55757;
}

#entry:selected arrow {
    border: none;
    color: #100606;
}

#entry:selected {
    background-color: #E55757;
    animation: slideIn 0.2s ease-in-out both;
    border-radius: 0.5em;
}
